<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<globalization fileEncoding="utf-8" />
		<customErrors mode="Off" />
		<compilation debug="true"/>
	</system.web>
	<system.webServer>
		<!--<rewrite>
			<rules>
				<rule name="UrlRewrite" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:1}" />
				</rule>
			</rules>
		</rewrite>-->
		<httpErrors errorMode="Detailed"/>
	</system.webServer>
</configuration>